# Ignore Python virtual environments
.venv/
venv/

# Ignore models directory
models/

# Ignore node_modules in the project directory
project/node_modules/

# ignore this firebaseConfiq file
 
project/src/firebaseConfig.ts